[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Python library to interface with Gerrit's REST API
[access "refs/*"]
	owner = group user/Antonio Barone (syntonyze)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Antonio Barone (syntonyze)
	label-Verified = -1..+1 group user/Antonio Barone (syntonyze)
	push = group user/Antonio Barone (syntonyze)
	read = group user/Antonio Barone (syntonyze)
	rebase = group user/Antonio Barone (syntonyze)
	removeReviewer = group user/Antonio Barone (syntonyze)
	submit = group user/Antonio Barone (syntonyze)
[access "refs/heads/*"]
	create = group user/Antonio Barone (syntonyze)
	push = +force group user/Antonio Barone (syntonyze)
	pushMerge = group user/Antonio Barone (syntonyze)
	read = group user/Antonio Barone (syntonyze)
[access "refs/tags/*"]
	push = group user/Antonio Barone (syntonyze)
	push = +force group user/Antonio Barone (syntonyze)
